{{> navbar user}}
<h3></h3>
All events
</h3>
<a href="/events/new">Create new event</a>
<ul>
    {{#each events}}
    <li>
        <a href="/events/{{ this._id}}">
            {{ this.title}}<span> - {{ this.description }}</span>
        </a>
        |
        <a href="/events/edit/{{ this._id}}">Edit</a>
        |
        <a href="/events/delete/{{ this._id}}">Delete</a>
    </li>
    {{/each }}
</ul>
</di