{{> navbar user}}
<h3>
    My events
</h3>

<ul>
    {{#each events}}
    <li>
        <a href="/events/{{ this._id}}">
            {{ this.title}}<span> - {{ this.description }}</span>
        </a>
        |
        <a href="/events/edit/{{ this._id}}">Edit</a>
        |
        <a href="/events/delete/{{ this._id}}">Delete</a>
    </li>
    {{/each }}<br>
    <a href="/events/new">Create new event</a>
</ul>
</di