{{> navbar user}}
<div class="flex-column-center event">
  <div class="flex-column">
    <div class="flex-column">
      <button class="white-btn" id="back" data-i18n="event.back">Back to my events</button>
      <div class="flex-row">
        <div class="tile-image">
          <img src="{{event.picture}}" alt="event picture">
        </div>
        <div class="description">
          <h2>{{ event.title}}</h2>
          <p>{{event.description}}</p>
        </div>
      </div>
    </div>

    <div class="chat-wrapper">
      <div class="event" id="messages"></div>
      {{#if event.userAttending}}
      <form action="" class="event" id="user-input">
        <button class="white-btn" data-i18n="event.send">Send</button>
        <input id="m" autocomplete="off" />
        <div id="typing" style="color:white"></div>
      </form>
      {{/if}}
      <input type="hidden" id="sender" value="{{user._id}}">
      <input type="hidden" id="name" value="{{user.name}}">
      <input type="hidden" id="receiver" value="{{event._id}}">
    </div>
  </div>
  <div class="flex-column">

    <div class="map-wrapper">
      <div style="height: 250px; width: 250px" id="map"></div>
    </div>

    <div class="info-wrapper">
      <p data-i18n="event.location">Location:</p>
      <p>{{#if event.location.city}}{{event.location.city}}, {{/if}}{{event.location.country}}{{#if event.location.street}},</br>{{event.location.street}}</p>{{/if}}
      <p data-i18n="event.language">Language:</p>
      <p>{{event.language}}</p>
      <p data-i18n="event.date">Date:</p>
      <p>{{event.dateStr}}</p>
      <p data-i18n="event.attendees">Attendees: {{event.counter}}</p> {{#if event.userAttending}}
      <button class="white-btn" id="unattend" data-i18n="event.unattend">Unattend Event</button>
      {{else}}
      <button class="white-btn" id="attend" data-i18n="event.attend">Attend Event</button>
      {{/if}} {{#if event.own}}</br><button class="white-btn" id="edit" data-i18n="event.edit">Edit Event</button></br>
      <button class="white-btn" id="delete" data-i18n="event.delete">Delete Event</button>
      {{/if}}
      </br>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script src="/javascripts/chatEvent.js"></script>
<script src="/javascripts/event-details.js"></script>
<script>const event = {{{ eventString }}}</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzvwE1RxqrkKzPSdt79gYOoMubrlaGZbE"></script>
<script src="/javascripts/map.js"></script>