{{> navbar user.name}}
<script>const user = {{{ userString }}}</script>
<script src='/javascripts/profile.js'></script>

<h3>
    Edit Profile</h3>
<div class="form-group">

    <form method="POST" action="/profile/edit">
        <div class="form-group">

            <h3>Basic Information</h3>
            <label>Name:</label>
            <input type="text" name="name" placeholder="Name" value="{{ user.name}}" required>
            <label>E-mail address:</label>
            <input type="text" name="email" placeholder="E-mail address" value="{{ user.email}}" required>
            <label>Age:</label>
            <input type="number" name="age" placeholder="Age" value="{{ user.age}}" required>
            <label>About me:</label>
            <textarea rows="4" type="text" name="description" placeholder="Something about me.." value="{{ user.description}}"></textarea>
        </div>
        </br>
        <div class="form-group" type="hidden" hidden>
            <h3>My Languages</h3>
            <label>Languages I know:</label>
            <select name="known-languages" multiple="" id="multi-select-known">
                <option value="">Select a language</option>
            </select>
            <label>Languages I am learning:</label>
            <select name="learning-languages" multiple="" id="multi-select-learning">
                <option value="">Select a language</option>
            </select>
        </div>
        </br>
        <div class="form-group">
            <h3>My Location</h3>
            <label>Country:</label>
            <input type="text" name="country" placeholder="Country" value="{{ user.location.country}}">
            <label>City:</label>
            <input type="text" name="city" placeholder="City" value="{{ user.location.city}}">
        </div> </br>
        <button type="submit" name="" id="submit" class="success-btn">Save Changes</button>
    </form>