<div class="tile-image">
  <img src={{this.picture}} alt="event picture">
</div>
<div class="tile-content">
  <h3>{{this.title}}</h3>
  <div class="date-location">
    <p>{{this.dateStr}} - {{this.location.country}}{{#if this.location.city}}, {{this.location.city}}{{/if}}{{#if this.location.street}},
      {{this.location.street}}{{/if}}
    </p>
    <p>Language: {{this.language}}</p>
  </div>
  <p class="description">{{this.description}}</p>
</div>