{{> navbar user}}
<div class="flex-column-center"></div>
<h2>My Tandems</h2>
<div class="flex-row">
    <div class="flex-column tandem-list">
        <ul>
            {{#each tandems}} {{#if this.user.selected}}
            <li class="current">
                {{else}}
                <li>{{/if}}
                    <div class="tile-image">
                        <img src="{{this.user.picture}}" alt="">
                    </div>
                    <a href="/tandems/{{this.user._id}}">{{this.user.name}}</a>
                    <div class="last-active">
                        <p>active: {{this.dateStr}}</p>
                    </div>
                </li>
                {{/each }}
        </ul>
    </div>
    <div class="chat-wrapper">
        <div class="flex-column">
            <div class="tandem-info-wrapper">
                <div class="tandem-info">
                    <h3>{{current.user.name}}</h3>
                    <div class="row">
                        <p>Location: {{current.user.location.country}}{{#if current.user.location.city}}, {{current.user.location.city}}{{/if}}</p>
                        <p>Speaks: {{#each current.user.knownLanguages}}{{this}}; {{/each}} </p>
                    </div>
                </div>
                <div class="options-container">
                    <div class="ui dropdown tandem">
                        <div class="nav-img">
                            <h4>Options</h4>
                        </div>
                        <div class="menu">
                            <div class="item" data-value="more">More about me</div>
                            <div class="item" data-value="block">Block</div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="tandem" id="messages">
            </ul>
            <form action="" id="user-input">
                <button>Send</button>
                <div id="typing" style="color:white"></div>
                <input id="m" autocomplete="off" />
            </form>
            <input type="hidden" id="sender" value="{{user._id}}">
            <input type="hidden" id="receiver" value="{{current.user._id}}">
            <ul>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/tandem-details.js"></script>